# setup
build/
dist/
caspwn.egg-info/

# pytest
tests/unit_tests/sphere_tests/.pytest_cache/

# virtual environment
env/

# misc
misc/

# pycharm
.idea/

# slurm
*.out

# hypothesis
.hypothesis

# LaTeX
*.aux
*.log
*.synctex.gz
*.tex.bak

# notes output
notes/

# analysis plots
*.pdf

# vim
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/

# Sphinx documentation
docs/build/
