.idea/
# slurm
*.out

# hypothesis
.hypothesis

# LaTeX
*.aux
*.log
*.synctex.gz
*.tex.bak

# notes output
notes.pdf

# analysis plots
*.pdf

# vim
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/

# Sphinx documentation
docs/build/
